/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #33bd37;
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;  /* Ajuste en pantallas pequeñas */
}

.logo img {
    height: 125px;
}
/* Menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Ajusta los elementos del menú en pantallas pequeñas */
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
/* Secciones */
section {
    padding: 20px;
}


/* Pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* **Estilos para la sección de servicios** */

#servicios {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.contenedor-servicios {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.servicio {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.servicio:hover {
    transform: translateY(-5px);
}

.servicio img {
    width: 100%;
    border-radius: 10px;
}

.servicio h3 {
    margin: 15px 0 10px;
    font-size: 20px;
}

.servicio p {
    font-size: 16px;
    color: #555;
    text-align: justify;
}

/* **Estilos Responsivos** */

/* Para pantallas de hasta 768px (móviles y tabletas) */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Los elementos se apilan */
        text-align: center;
    }

    .logo img {
        height: 100px; /* Reducir tamaño de logo */
    }

    nav ul {
        flex-direction: column; /* Apilar los elementos del menú */
        align-items: center;
    }

    nav ul li {
        margin: 10px 0; /* Añadir espacio entre los elementos */
    }

    section {
        padding: 15px;
    }

    .boton-ventana {
        font-size: 16px; /* Reducir tamaño del texto */
    }


    button {
        width: 100%; /* Botón ocupa todo el ancho */
        font-size: 16px;
    }

    footer {
        font-size: 14px; /* Reducir tamaño de fuente */
    }

    /* Sección de Servicios */
    #servicios {
        padding: 30px 15px;
    }

    .contenedor-servicios {
        flex-direction: column; /* Apilar los servicios */
        gap: 15px; /* Reducir espacio entre los servicios */
    }

    .servicio {
        max-width: 90%; /* Ajustar el tamaño de los servicios */
       
    }
}

/* Para pantallas más grandes (tabletas y laptops) */
@media (max-width: 1024px) {
    .contenedor-servicios {
        gap: 30px;
    }

    .servicio {
        max-width: 45%; /* Mostrar 2 servicios por fila */
    }



    /* Header */
    header {
        padding: 1.5em;
    }

    .logo img {
        height: 110px;
    }

    nav ul li {
        margin: 0 10px;
    }

}

.contenedor-servicios a.ref{
    text-decoration:none;
    color: inherit;
}
#dialux .contenedor-dialux h1, #As-Built .contenedor-As-Built h1, #construccion .contenedor-construccion h1{
    color: #030303;
    border-bottom: 2px solid #33bd37;
    padding-bottom: 5px;
}
.highlight {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 0;
}
.service-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}
.process-steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}
.step {
    flex-basis: 18%;
    text-align: center;
    margin-bottom: 20px;
}
.step-number {
    background-color: #3498db;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    font-weight: bold;
}
.cta-button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #2980b9;
}

#dialux .highlight ul, #As-Built .highlight ul, #construccion .highlight ul {
    margin: 30px 0;
    text-align: left; /* Texto alineado a la izquierda (pero el contenedor está centrado) */
}
#dialux .contenedor-dialux p, #As-Built .contenedor-As-Built p, #construccion .contenedor-construccion p {
    margin: 30px 0;
    text-align:justify; /* Texto alineado a la izquierda (pero el contenedor está centrado) */
}

#dialux .highlight li, #As-Built .highlight li, #construccion .highlight li  {
    list-style-type: none; /* Elimina los puntos por defecto */
    padding-left: 0;
  }
  
#dialux .highlight li, #As-Built .highlight li, #construccion .highlight li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
#dialux .highlight li::before, #As-Built .highlight li::before, #construccion .highlight li::before  {
    content: "•";
    color: #33bd37; /* Color personalizado */
    font-size: 24px;
    position: absolute;
    left: 0;
    top: -2px;
  }
/*formatos de imagenes*/
/*dialux*/
#dialux .imagen {
    width: 100%;
    max-width: 500px; /* Ajusta según necesidad */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px auto;
  }
  
#dialux .imagen:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
#dialux .imagen img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #eee;
  }
#dialux {
    background-color: #f9f9f9
  }
/*As-built*/
#As-Built .imagen {
    width: 100%;
    max-width: 500px; /* Ajusta según necesidad */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px auto;
  }
  
#As-Built .imagen:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
#As-Built .imagen img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #eee;
    object-fit: cover;
  }
#As-Built {
    background-color: #f9f9f9
  } 
/*construccion*/
#construccion .imagen {
    width: 100%;
    max-width: 500px; /* Ajusta según necesidad */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px auto;
  }
  
#construccion .imagen:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
#construccion .imagen img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #eee;
    object-fit: cover;
  }
#construccion {
    background-color: #f9f9f9
  }